In [1]:
import pandas as pd

# Load datasets
df_customers = pd.read_csv("customers.csv", parse_dates=["signup_date"])
df_products = pd.read_csv("products.csv")
df_transactions = pd.read_csv("transactions.csv", parse_dates=["order_date"])

In [2]:
# Inspect data
print(df_customers.head())
print("_________________")
print(df_products.head())
print("_________________")
print(df_transactions.head())

                            customer_id               name  \
0  5f32def8-bbc6-422b-8b36-25de4544f51a         Sara James
1  fc7797fe-c9bd-4e8f-809f-f8a919d40ec9   Zachary Williams
2  31b5d696-1ed4-48be-adf1-5df9589f83c4     Kathryn Rivera
3  bf8108fb-ca10-4f90-b672-f01124d0c995      Ashley Bolton
4  f8423a51-b9f3-470b-b233-ea3478a5eaf9  Stephanie Collins

                    email     location signup_date
0    melaniemay@yahoo.com  North Brian  2022-09-13
1         pward@yahoo.com  Kristinview  2024-08-07
2        gmoses@gmail.com      Tinaton  2021-12-13
3    cherylgill@gmail.com    Tonymouth  2020-08-12
4  bonnievaughn@gmail.com   Soniaville  2021-01-30
_________________
                             product_id    product_name        category  \
0  13ad1499-2dc2-49f6-b508-d7f73d77358d  National Ultra            Toys
1  b919ff66-2ed4-4208-8e47-523e5181efbc      Remain Max          Beauty
2  b957fdc0-4592-49ee-9b20-5b96d9cd13e5       Water Max  Home & Kitchen
3  2e45ed3a-4215-452f-a087-0415193d744c     Child Ultra            Toys
4  c7b2f94b-037e-4b04-804d-a9b504dc26bb    Central Plus          Sports

    price
0  440.90
1  193.89
2  146.99
3  310.14
4  184.37
_________________
                               order_id                           customer_id  \
0  1118939c-2826-40b8-8794-45e1cc511034  36fe701b-fcca-4bba-9eeb-d660e88199cd
1  1fc5d4a7-2c28-43f1-81ac-a7715fbf7ec4  40908b50-d26d-4b76-b02e-c7b5412a0a3a
2  1794335e-0f7f-4463-85ef-80c3a0aa9633  537c05d2-a8b8-4f25-809e-b3b3519b424c
3  0b4c0186-8140-4427-8564-84da75994fd5  553d6908-7618-4c76-bec5-de4d986594a2
4  72af02b0-7eb8-4854-adac-4e64a2a45fa1  60e15002-7e7a-4339-b7e4-965b955daa5f

   total_amount    payment_method order_date
0        156.28            PayPal 2025-03-01
1        192.73            PayPal 2024-08-28
2        611.71  Cash on Delivery 2024-01-30
3        132.58        Debit Card 2024-05-08
4        568.93            PayPal 2024-10-12

In [3]:
# Check for missing values
print(df_customers.isnull().sum())
print("_________________")
print(df_products.isnull().sum())
print("_________________")
print(df_transactions.isnull().sum())

customer_id    0
name           0
email          0
location       0
signup_date    0
dtype: int64
_________________
product_id      0
product_name    0
category        0
price           0
dtype: int64
_________________
order_id          0
customer_id       0
total_amount      0
payment_method    0
order_date        0
dtype: int64

In [4]:
# Convert price and total_amount to float
df_products["price"] = df_products["price"].astype(float)
df_transactions["total_amount"] = df_transactions["total_amount"].astype(float)

In [5]:
# Add derived columns
df_transactions["order_year"] = df_transactions["order_date"].dt.year
df_transactions["order_month"] = df_transactions["order_date"].dt.month

In [6]:
# Save cleaned data (optional)
df_customers.to_csv("cleaned_customers.csv", index=False)
df_products.to_csv("cleaned_products.csv", index=False)
df_transactions.to_csv("cleaned_transactions.csv", index=False)

print("Data Transformation Completed!")

Data Transformation Completed!

In [8]:
from sqlalchemy import create_engine
import pandas as pd

# Database credentials
DB_USER = "postgres"  # Replace with your PostgreSQL username
DB_PASSWORD = "8484123"  # Replace with your PostgreSQL password
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "etl_project"

# Create the connection URL
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# Create the SQLAlchemy engine
engine = create_engine(DATABASE_URL)

In [9]:
# Load CSV data
df_customers = pd.read_csv("cleaned_customers.csv")
df_products = pd.read_csv("cleaned_products.csv")
df_transactions = pd.read_csv("cleaned_transactions.csv")

# Optional: Print the first few rows to confirm data
print(df_customers.head())
print(df_products.head())
print(df_transactions.head())

                            customer_id               name  \
0  5f32def8-bbc6-422b-8b36-25de4544f51a         Sara James
1  fc7797fe-c9bd-4e8f-809f-f8a919d40ec9   Zachary Williams
2  31b5d696-1ed4-48be-adf1-5df9589f83c4     Kathryn Rivera
3  bf8108fb-ca10-4f90-b672-f01124d0c995      Ashley Bolton
4  f8423a51-b9f3-470b-b233-ea3478a5eaf9  Stephanie Collins

                    email     location signup_date
0    melaniemay@yahoo.com  North Brian  2022-09-13
1         pward@yahoo.com  Kristinview  2024-08-07
2        gmoses@gmail.com      Tinaton  2021-12-13
3    cherylgill@gmail.com    Tonymouth  2020-08-12
4  bonnievaughn@gmail.com   Soniaville  2021-01-30
                             product_id    product_name        category  \
0  13ad1499-2dc2-49f6-b508-d7f73d77358d  National Ultra            Toys
1  b919ff66-2ed4-4208-8e47-523e5181efbc      Remain Max          Beauty
2  b957fdc0-4592-49ee-9b20-5b96d9cd13e5       Water Max  Home & Kitchen
3  2e45ed3a-4215-452f-a087-0415193d744c     Child Ultra            Toys
4  c7b2f94b-037e-4b04-804d-a9b504dc26bb    Central Plus          Sports

    price
0  440.90
1  193.89
2  146.99
3  310.14
4  184.37
                               order_id                           customer_id  \
0  1118939c-2826-40b8-8794-45e1cc511034  36fe701b-fcca-4bba-9eeb-d660e88199cd
1  1fc5d4a7-2c28-43f1-81ac-a7715fbf7ec4  40908b50-d26d-4b76-b02e-c7b5412a0a3a
2  1794335e-0f7f-4463-85ef-80c3a0aa9633  537c05d2-a8b8-4f25-809e-b3b3519b424c
3  0b4c0186-8140-4427-8564-84da75994fd5  553d6908-7618-4c76-bec5-de4d986594a2
4  72af02b0-7eb8-4854-adac-4e64a2a45fa1  60e15002-7e7a-4339-b7e4-965b955daa5f

   total_amount    payment_method  order_date  order_year  order_month
0        156.28            PayPal  2025-03-01        2025            3
1        192.73            PayPal  2024-08-28        2024            8
2        611.71  Cash on Delivery  2024-01-30        2024            1
3        132.58        Debit Card  2024-05-08        2024            5
4        568.93            PayPal  2024-10-12        2024           10

In [10]:
# Insert data into PostgreSQL using the connection engine
try:
    df_customers.to_sql("customers", con=engine, if_exists="replace", index=False)
    df_products.to_sql("products", con=engine, if_exists="replace", index=False)
    df_transactions.to_sql("transactions", con=engine, if_exists="replace", index=False)
    print("✅ Data successfully loaded into PostgreSQL!")
except Exception as e:
    print(f"❌ Error: {e}")

✅ Data successfully loaded into PostgreSQL!